.acrylic {
	backdrop-filter: blur(10px) brightness(70%) saturate(90%);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

body {
	color: white;
	background-color: black;
}

.top {
	top: 0;
	position: absolute;
	width: 100%;
}

.top-container {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	user-select: none;

	h1, h2 {
		margin: 0;
		color: #ffffffd0;
	}

	h1 {
		margin-bottom: 10px;
		color: #ffffffff;
	}
}

.credits {
	user-select: none;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	* {
		margin: 0;
		font-size: small;
		color: #fffffff0;
	}

	a {
		color: #ffffffa0;
	}

	:not(:last-child) { 
		margin-bottom: 8px;
	}
}

.projects {
	position: absolute;
	bottom: 0;
	right: 0;

	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;

	ul {
		margin: 0;
	}
}